{% extends '::base.html.twig' %}
{% block body %}

  {% for fila in TablainfoEquipos %}
  <h3>Equipo : {{ fila.nombre }}</h3>
  <h4>Juego: {{ fila.Juego }}</h4>
  <h4>Ranking: {{ fila.ranking }}</h4>
  <h4>Integrantes:{{ fila.integrantes }}</h4>
  <img src="{{ asset( fila.foto ) }}" width="300" height="200" alt="">
  <hr>
  {% endfor %}
  <h3>Integrantes:</h3>

  <div class="gallery">
      <img src="" alt="Mntains" width="600" height="400">
    <div class="desc">
      <h3>Raul</h3>
      <h5>NickName:Golfos</h5>
      <h5>Especialidad: Support</h5>
    </div>
  </div>
  <div class="gallery">
      <img src="" alt="Mntains" width="600" height="400">
    <div class="desc">
      <h3>Raul</h3>
      <h5>NickName:Golfos</h5>
      <h5>Especialidad: Support</h5>
    </div>
  </div>
  <div class="gallery">
      <img src="" alt="Mntains" width="600" height="400">
    <div class="desc">
      <h3>Raul</h3>
      <h5>NickName:Golfos</h5>
      <h5>Especialidad: Support</h5>
    </div>
  </div>
  <div class="gallery">
      <img src="" alt="Mntains" width="600" height="400">
    <div class="desc">
      <h3>Raul</h3>
      <h5>NickName:Golfos</h5>
      <h5>Especialidad: Support</h5>
    </div>
  </div>
  <div class="gallery">
      <img src="" alt="Mntains" width="600" height="400">
    <div class="desc">
      <h3>Raul</h3>
      <h5>NickName:Golfos</h5>
      <h5>Especialidad: Support</h5>
    </div>
  </div>
  <br>
{% endblock %}
