{% extends '::base.html.twig' %}
{% block body %}
  <br>
  <h3>Listado de los Ultimos partidos por Juego</h3>
  <br><br>
  <div class="gallery">

      <img src="" alt="Trolltunga Norway" width="300" height="200">

    <div class="desc">
      <h3>Titans</h3>
      <h5>Juego:League of Legend</h5>
      <a href="{{ path('juegos_infoequipo') }}" class="btn btn-primary">Mas Info</a>
    </div>
  </div>

  <div class="gallery">

      <img src="" alt="Forest" width="600" height="400">

    <div class="desc">
      <h3>Titans</h3>
      <h5>Juego:League of Legend</h5>
      <a href="{{ path('juegos_infoequipo') }}" class="btn btn-primary">Mas Info</a>
    </div>
  </div>

  <div class="gallery">

      <img src="" alt="Northern Lights" width="600" height="400">

    <div class="desc">
      <h3>Titans</h3>
      <h5>Juego:League of Legend</h5>
      <a href="{{ path('juegos_infoequipo') }}" class="btn btn-primary">Mas Info</a>
    </div>
  </div>

  <div class="gallery">

      <img src="" alt="Mounins" width="600" height="400">

    <div class="desc">
      <h3>Titans</h3>
      <h5>Juego:League of Legend</h5>
      <a href="{{ path('juegos_infoequipo') }}" class="btn btn-primary">Mas Info</a>
    </div>
  </div>

  <div class="gallery">

      <img src="" alt="Mntains" width="600" height="400">

    <div class="desc">
      <h3>Titans</h3>
      <h5>Juego:League of Legend</h5>
      <a href="{{ path('juegos_infoequipo') }}" class="btn btn-primary">Mas Info</a>
    </div>
  </div>

  <div class="gallery">

      <img src="" alt="untains" width="600" height="400">

    <div class="desc">
      <h3>Titans</h3>
      <h5>Juego:League of Legend</h5>
      <a href="{{ path('juegos_infoequipo') }}" class="btn btn-primary">Mas Info</a>
    </div>
  </div>
  <div class="gallery">

      <img src="" alt="Mouns" width="600" height="400">

    <div class="desc">
      <h3>Titans</h3>
      <h5>Juego:League of Legend</h5>
      <a href="{{ path('juegos_infoequipo') }}" class="btn btn-primary">Mas Info</a>
    </div>
  </div>
  <div class="gallery">

      <img src="" alt="Mo" width="600" height="400">

    <div class="desc">
      <h3>Titans</h3>
      <h5>Juego:League of Legend</h5>
      <a href="{{ path('juegos_infoequipo') }}" class="btn btn-primary">Mas Info</a>
    </div>
  </div>
{% endblock %}
